.content {
    display: grid;
    grid-template-areas: '. .';
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr 3fr;

}

.dialogs{
    background-color: yellow;
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 1fr;


}

.dialogsItems{
    background-color: red;
}

.messages{
    background-color: deeppink;
}

.messageItem{

}